<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <%  posts.forEach(function(post){ %>
  <label for="">Title</label>
  <%=post.title%>
  <label for="">Content</label>
  <%=post.content%>
  <label for="">Likes</label>
  <%=post.likes%>
  <label for="">Category</label>
  <%=post.category%>
  <a href="/posts/<%=post._id%>">Read More</a>
    <br />
  <% }) %>
</body>

</html>
